@import url(https://fonts.googleapis.com/css?family=Roboto:300);
html {
	font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #fff;

}
input[type="text"] {
  display: block;
  margin: 0;
  width: 414px;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
}

input[type="text"]:focus {
	outline: none;
}

.head-main {
	background-image: url("overlay/overlay.png"),
	url("overlay/pattern-size1.svg");
	background-color: #e74c3c;
	width: 100%;
	height: 100%;
	/*padding-left: 35%;*/
	text-align: center;
	border-bottom: solid 6px #cf4436;
}

#big {
	font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 70px;
	padding-top: 5px;
	padding-bottom: 5px;
	/*padding-left: 35%;*/
	color: #fff;
}

.search {
	padding: 15px;
	margin-left: 40px;
	margin-right: 40px; 
	border: none;
	border-bottom: solid 4px #e74c3c;
	transition: border 0.3s;
}

.search:focus {
	border-bottom: solid 4px #c0392b; 
}

.btn1 {
    border: none;
    color: #c0392b;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color: white;
    border: 2px solid #c0392b; /* RED */
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.btn1:hover {
    background-color: #c0392b; /* RED */
    color: white;
}

.narrow-down {
	background-image: url("overlay/overlay.png");
	background-color: #c0392b;
	padding-bottom: 90px;
	padding-top: 30px;
}

#kinda-big {
	font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 30px;
	padding-bottom: 5px;
	color: #fff;
}